<html>
<head>
    {% if title %}
    <title>DeltaLink - {{ title }}</title>
    {% else %}
    <title>Welcome to DeltaLink</title>
    {% endif %}
</head>
<body>
    <div>
        DeltaLink:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
<footer>
    <p><a href="https://github.com/LazyPhilosopher/DeltaLink">Source GitHub</a></p>
</footer>
</html>