<html>
<head>
    {% if title %}
    <title>DeltaLink - {{ title }}</title>
    {% else %}
    <title>Welcome to DeltaLink</title>
    {% endif %}
</head>
<body>
    <div>
        DeltaLink:
        <a href="/index">Home</a>
        <a href="/login">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
<footer>
    <p><a href="https://github.com/LazyPhilosopher/DeltaLink">Source GitHub</a></p>
</footer>
</html>